body{
	margin: 0;
}

h1,h2,h3,h4,p,a,span{font-family: "Helvetica"; color: #555;}

a{
	color: #337ab7;
}

.text-center{
	text-align: center;
}

.btn{
	padding: 7px 11px;
	border-radius: 6px;
	text-decoration: none;
	border: 1px solid #aaa;
}

.text-sub{
	color: #777;
}